@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0f1014;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "geist", serif;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgb(39, 39, 42) transparent; /* Firefox scrollbar colors */
}

body {
  background-color: var(--background-color);
}

/* For Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #2a2a2a; /* Dark background */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ababab; /* Light thumb color */
  border-radius: 8px;
  border: 2px solid #2a2a2a; /* Optional border around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Slightly darker on hover */
}

/* Optional: Custom scrollbars for horizontal scroll */
-webkit-scrollbar-horizontal {
  height: 8px;
}

-webkit-scrollbar-track-horizontal {
  background: #2a2a2a;
}

-webkit-scrollbar-thumb-horizontal {
  background-color: #f5f5f5;
  border-radius: 8px;
  border: 2px solid #2a2a2a;
}

-webkit-scrollbar-thumb-horizontal:hover {
  background-color: #888;
}